<div class="row d-none d-block d-sm-block d-md-none mobile-buttons">
  <div class="col-12 d-flex justify-content-around">
    <a href="#" class="d-flex justify-content-center align-items-center">
      <span>Search</span>
      <fa name="search"></fa>
    </a>
    <a href="#" class="d-flex justify-content-center align-items-center">
      <span>List</span>
      <fa name="bars"></fa>
    </a>
    <a href="#" class="d-flex justify-content-center align-items-center">
      <span>Profile</span>
      <fa name="user"></fa>
    </a>
  </div>
</div>